<!DOCTYPE html>
<html  xmlns:th="http://www.thymleaf.org">

<head>
    
    <title>User List</title>
   
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />

</head>

<body>
    <div class="container text-center w-25">
        <div>
             <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.Email}]]</b> <div class=" w-100 text-center"> <button class="btn btn-lg btn-primary btn-block"><a th:href="@{add}" style="color: white;"> Add Event</a></button></div>      
            </p>
            <input type="submit" value="Sign Out" class="btn btn-lg btn-primary btn-block w-100"/>
        </form>
        </div>

    </div>
    <div class="container text center">
        
        <h1 class="text-center">User list</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User Id</th>
                    <th>User name</th>
                    <th>User age</th>
                    <th>User Gender</th>
                    <th>User Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${list} ">
                    <th th:text="${user.Id}"></th>
                    <th th:text="${user.Name}"></th>
                    <th th:text="${user.Age}"></th>
                    <th th:text="${user.Gender}"></th>
                    <th th:text="${user.Email}"></th>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container text center">
       
        <h1 class="text-center">Event list</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Event Id</th>
                    <th>Event Name</th>
                    <th> Description</th>
                    <th> Location</th>
                    <th> Starttime</th>
                    <th> Endtime</th>
                    <th> UserId</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event : ${li} ">
                    <th th:text="${event.EventId}"></th>
                    <th th:text="${event.Name}"></th>
                    <th th:text="${event.Description}"></th>
                    <th th:text="${event.Location}"></th>
                    <th th:text="${event.StartTime}"></th>
                    <th th:text="${event.EndTime}"></th>
                    <th th:text="${event.userid}"></th>
                    
                </tr>
            </tbody>
        </table>
    </div>
  
</body>

</html>